extends layout

block content
	h1= title
	ul.errors
		if errors
			each error, i in errors
				div.alert.alert-danger #{error.msg}
	form(method='post',action='/posts/add',enctype='multipart/form-data')
		.form-group
			label Title
			input.form-control(name='title',type='text')
		.form-group
			label Category
			if categories
				select.form-control(name='category')
					each category, i in categories
						option(value='#{category.name}') #{category.name}
		.form-group
			label Body
			textarea.form-control(name='body',id='body')
		.form-group
			label Main Image:
			input.form-control(name='mainimage',type='file')
		.form-group
			label Author
			select.form-control(name='author')
				option(value='Sagun Maharjan') Sagun Maharjan
				option(value='Sam') Sam
		input.btn.btn-default(type='submit',name='submit',value='Submit')
		script(src='/ckeditor/ckeditor.js')
		script.
			CKEDITOR.replace('body');